**/target/
**/.git/
**/.gitignore
**/.impeccable/
**/.pi/
**/.hermes/
**/.claude/
**/logs/
**/node_modules/
**/.classpath
**/.project
**/.settings/
**/.idea/
**/*.iml
**/.vscode/
**/.springBeans
**/.sts4-cache/
**/Dockerfile
tools/
postman/
docs/
scripts/*.sh
scripts/*.ps1
*.md
